<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Submit Your Resume For 1000+ Companies</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jumbotron-narrow.css")">
</head>
<body>

      <div class="jumbotron">
        <h2>Sign On</h2>
        @helper.form(action = routes.Application.signOnEnter) {
        
        <div class="form-group">
         Email: <input style="float:left" type="text" name="email">
         Password: <input style="float:left" type="text" name="password">
   
        </div>
        <button type="submit">Submit</button>
    }
    </div>
    
        
</body>
</html>